
.colorBody{
    background-color: rgb(214, 184, 245);
 }
 /*nav*/
 .barra{
   background-color:  rgb(177, 108, 243);
 }
 .navigation{
    background-color: rgb(177, 108, 243);
    height: auto;
    padding-top: 10px;
    font-size: 20px;
 }
 .logo{
    height: 60px;
    background-color:rgb(177, 108, 243);
   
 }
 /* card*/
 .cont{
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
 }
 .contCard{
    margin: 10px;
    border-color: rgb(16, 15, 15) !important;  
 }

 .colorCard{
   background-color: rgb(189, 159, 216);
 }
 .mensagge{
   text-align: center;
   margin: auto;
   color: brown;
   width: 100%;
 }

 .imageCard{
   height: 200px; ;
 }
 /*details*/
 .contDatails{
    display: block;
    margin: 60px 100px;
 }
 .imgDetails{
   margin: 40px 9px;
 }
 /*carousel*/
 .carousel1{
    height: 100px;
    padding-top: 40px;
    background-image: url(/img/images\ \(2\).jpg);
 }
 .colorC{
   color: blueviolet;
 }
 /*Checks y Browser*/
 .checks{
    margin: 15px 0;
 }
 .search1{
   
   width: 300px;
   
   margin-left: auto;
   margin-right: auto;
   justify-content: center;
 }

/* contact*/
.contactForm{
   margin: 15px;
}
.cardContact{
   background-color:  rgb(189, 159, 216);
   width: 400px;
   height: auto;
   margin: 35px auto;
   border-radius: 1%;
   border: 1px solid black;
   }

/*stats*/
.statsTable{
   width: 65% !important;
   height: 20% !important;
   margin: 35px auto !important; 
   border-radius: 1%;
   border: 1px solid black;
   
}
.statstrthtd{
   border: 1px solid rgba(6, 6, 6, 0.973); 
}
.colorTable{
   background-color: rgb(197, 150, 240);
   border-radius: 1%;
   border: 1px solid black;
}
.colortable2{
   background-color:  rgb(189, 159, 216);
   border-radius: 1%;
   border: 1px solid black;
}
.colortable3{
   background-color:  rgb(97, 44, 144);
   border-radius: 1%;
   border: 1px solid black;
}
/*footer*/
.textF{
   font-weight: 600;

}

